<!DOCTYPE html>
<html>
<head>
    <title>NewSky API</title>
</head>
<body>
    <div style="display:flex; align-items:center; justify-content:center; height:100vh; width:100vw">
        <h1>API Online</h1>
    </div>
</body>
</html>